.header {
    padding: 5px 0;
    z-index: 1000;
    border-bottom: 1px solid #d9e9e9;
}

.headerWrapperDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1344px) {
    .header {
        padding: 0;
    }
}
