.loginWrapper{
    height: 100vh;
    background-color: #ebf2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.loginCard{
    width: 100%;
    max-width: 400px;
    border: 1px solid #d9e9e9;
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: Metropolis, sans-serif;
    font-size: 3.5rem;
    margin-top: 40px;
    padding: 16px 0;
}

.loginForm{
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.linkToSignup{
    margin-top: 20px;
    color: #8c8c8c;
    cursor: pointer;
}

.linkToSignup:hover{
    color: #6cb52d;
    text-decoration: underline;
}