.projectsListSection {
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: #ebf2f2;
    min-height: 300px;
}

.projectsListSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}